/*situSpreadModal style*/
.situ_spread_modal .modal-content {
    width: 25vw;
    height: 26.74vh;
    max-height: 276px;
    border-radius: 0.78125vw;
    margin: 37.3vh 0 0 37.5vw;
    border: none;
    position: relative;
    box-shadow: 0 0.3125vw 0.625vw 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.41vw;
}
.situ_spread_modal .modal-body {
    width: 100%;
    height: 23.25vh;
    max-height: 240px;
    position: relative;
    padding: 5.4vh 0 0 1.74vw;   
}
.situ_spread_modal .modal-body::before{
    content:"";
    display: block;
    width: 2.03125vw;
    height: 1.64vh;
    max-height: 17px;
    background: url("../../../../static/image/dark/page/disasterList/img/img_pop_quotationMark.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3.29vh;
    left: 1.66vw;
}
.situ_spread_modal .modal-body::after{
    content:"";
    display: block;
    width: 8.02vw;
    height: 11.43vh;
    max-height: 118px;
    background: url("../../../../static/image/dark/page/disasterList/img/img_pop_sendSms.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3.29vh;
    right: 1.77vw;
}
.situ_spread_modal .modal-body.share_body::after{
    content:"";
    display: block;
    width: 8.02vw;
    height: 11.43vh;
    max-height: 118px;
    background: url("../../../../static/image/dark/page/disasterList/img/img_pop_share.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3.29vh;
    right: 1.77vw;
}
.situ_spread_modal .modal-body.broadcast_body::after{
    content:"";
    display: block;
    width: 8.02vw;
    height: 11.43vh;
    max-height: 118px;
    background: url("../../../../static/image/dark/page/disasterList/img/img_pop_broadcast.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3.29vh;
    right: 1.77vw;
}
.situ_spread_modal .end_title{
    width: auto;
    height: 2.71vh;
    max-height: 28px;
    font-family: "NotoSansCJKB";
    font-size: 0.98vw;
    letter-spacing: -0.025vw;
    text-align: left;
    line-height: 2.5vh;
    color: #f2f3f5;
    margin-bottom: 1.7vh;
}
.situ_spread_modal .end_sub_txt{
    width: 10vw;
    height: 5vh;
    max-height: 47px;    
    font-family: "NotoSansCJKB";
    font-size: 0.78125vw;
    letter-spacing: -0.019vw;
    line-height: 2.2vh;
    text-align: left;
    color: #f2f3f5;
}
.situ_spread_modal .end_sub_txt span{
    font-size: 0.88vw;
    letter-spacing: -0.02vw;
    color: #7e57ff;
    margin-right: 0.26vw;
}
.spread {
    box-shadow: 0 0.15625vw 0.625vw 0 rgba(0, 0, 0, 0.12);
    border: solid 0.05vw #9c5eff;
    background-color: #7a45ff;
    position: absolute;
    top: 17.5vh;
    right: 1.04vw;
}
.spread:hover {
    background-color: #7c5bf5;
    border: solid 0.05vw #9c5eff;
}

/**lightmode style**/
.lightmode .situ_spread_modal .modal-header{
    background-color: #7e4cff;
}
.lightmode .situ_spread_modal .modal-body::before{
    background: url("../../../../static/image/light/page/disasterList/img/img_pop_quotationMark.png") no-repeat;
    background-size: 100%;
}
.lightmode .situ_spread_modal .modal-body::after{
    background: url("../../../../static/image/light/page/disasterList/img/img_pop_sendSms.png") no-repeat;
    background-size: 100%;
}
.lightmode .situ_spread_modal .modal-body.share_body::after{
    background: url("../../../../static/image/light/page/disasterList/img/img_pop_share.png") no-repeat;
    background-size: 100%;
}
.lightmode .situ_spread_modal .modal-body.broadcast_body::after{
    background: url("../../../../static/image/light/page/disasterList/img/img_pop_broadcast.png") no-repeat;
    background-size: 100%;
}
.lightmode .situ_spread_modal .end_title{
    color: #484752;
}
.lightmode .situ_spread_modal .end_sub_txt{
    color: #484752;
}