/*02 letterBoard style*/
.letter_board_wrap{
    display: none;   
}
.letter_board_wrap .letter_title{
    width: 100%;
    height: 2.13vh;
    max-height: 22px;
    font-family: "NotoSansCJKM";
    font-size: 0.78125vw;
    letter-spacing: -0.03vw;
    text-align: left;
    color: #dddeed;
    padding-left: 0.36vw;
}
.letter_board_wrap .letter_title span{
    font-family: "NotoSansL";
    font-size: 0.9375vw;
    letter-spacing: -0.02vw;
    color: #8878ff;
    margin-left: 0.2vw;
}
.letter_board_wrap .list_area{
    width: 100%;
    height: 90.3vh;
    max-height: 929px;
    padding-top: 0.58vh;
}
.letter_board_wrap .list_area .list_box{
    width: 20.83vw;
    height: 12.01vh;
    max-height: 124px;
    border-radius: 0.625vw;
    border: solid 0.15vw #1a1b1e;
    background-color: #2e3036;
    margin-bottom: 0.96vw;
    cursor: pointer;
    padding: 2.64vh 0 0 1.61vw;
    position: relative;
}
.letter_board_wrap .list_area .list_box:hover{
    background-color: #383b4f;
}
.letter_board_wrap .list_area .list_box.active{
    height: 26.93vh;
    max-height: 278px;
    border: solid 0.15vw #7e4cff;
    background-color: #2d2948;
}
.letter_board_wrap .board_name{
    width: 100%;
    height: 2.32vh;
    max-height: 24px;
    font-family: "NotoSansCJKB";
    font-size: 0.83vw;
    letter-spacing: -0.04vw;
    line-height: 2vh;
    text-align: left;
    color: #e1e2f0;
    margin-bottom: 1.04vh;
}
.letter_board_wrap .letter_state{
    width: 5vw;
    height: 2.9vh;
    max-height: 30px;
    border-radius: 0.3125vw;
    border: solid 0.078vw #7e4cff;
    background-color: rgba(118, 67, 247,0.2);
    font-family: "NotoSansCJKR";
    font-size: 0.67vw;
    letter-spacing: -0.017vw;
    text-align: center;
    color: #d0c4ff;
    line-height: 2.4vh;
    position: absolute;
    top: 2.13vh;
    right: 1.04vw;
}
.letter_board_wrap .board_row{
    width: 100%;
    height: 1.74vh;
    max-height: 18px;
    margin-bottom: 0.19vh;
}
.letter_board_wrap .board_title{
    width: 4.53125vw;
    height: 100%;
    padding-left: 0.9375vw;
    font-family: "NotoSansCJKM";
    font-size: 0.625vw;
    letter-spacing: -0.015vw;
    line-height: 1.5vh;
    text-align: left;
    color: #b0b1c2;
    position: relative;
    float: left;
}
.letter_board_wrap .board_title.loc_icon::before{
    content:"";
    display: block;
    width: 0.78125vw;
    height: 1.45vh;
    max-height: 15px;
    background: url("../../../../static/image/dark/page/gis/facility/icon/icon_location.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.1vh;
    left: 0;
}
.letter_board_wrap .board_title.state_icon::before{
    content:"";
    display: block;
    width: 0.78125vw;
    height: 1.45vh;
    max-height: 15px;
    background: url("../../../../static/image/dark/page/broadcast/icon/icon_checking.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.2vh;
    left: 0;
}
.letter_board_wrap .board_txt{
    width: 13.64vw;
    height: 100%;
    padding-left: 0.9375vw;
    font-family: "NotoSansCJKM";
    font-size: 0.625vw;
    letter-spacing: -0.015vw;
    line-height: 1.5vh;
    text-align: left;
    color: #dddeed;
    position: relative;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.letter_board_wrap .board_txt.normal_icon::before{
    content:"";
    display: block;
    width: 0.72vw;
    height: 1.5vh;
    max-height: 14px;
    background: url("../../../../static/image/dark/page/gis/facility/img/img_sensor_normality.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.1vh;
    left: 2.3vw;
}
.letter_board_wrap .board_txt.error_icon::before{
    content:"";
    display: block;
    width: 0.72vw;
    height: 1.5vh;
    max-height: 14px;
    background: url("../../../../static/image/dark/page/gis/facility/img/img_sensor_error.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.2vh;
    left: 2.45vw;
}
.letter_board_wrap .realtime_area{
    width: 100%;
    height: 12.47vh;
    max-height: 128.7px;
    margin-top: 1.6vh;
    margin-left: -0.5vw;
    display: none;
}
.letter_board_wrap .list_area .list_box.active .realtime_area{
    display: block;
}
.letter_board_wrap .realtime_area .realtime_title{
    width: 18.22vw;
    height: 1.74vh;
    max-height: 18px;
    font-family: "NotoSansCJKR";
    font-size: 0.625vw;
    letter-spacing: -0.03125vw;
    text-align: left;
    color: #dddeed;
    line-height: 1.5vh;
    padding-left: 0.5vw;
    margin-bottom: 0.6vh;
}
.letter_board_wrap .realtime_area .realtime_box{
    width: 18.334vw;
    height: 9.88vh;
    max-height: 102px;
    background: url("../../../../static/image/dark/page/broadcast/img/img_back_textboard.png")no-repeat;
    background-size: 100%;
    position: relative;
}
.letter_board_wrap .realtime_area .realtime_txt{
    font-family: "NotoSansCJKBL";
    font-size: 0.88vw;
    letter-spacing: -0.02vw;
    text-align: center;
    color: #e0e0e0;
    width: 100%;
    line-height: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/**lightmode style**/
.lightmode .letter_board_wrap .letter_title{
    color: #484752;
}
.lightmode .letter_board_wrap .letter_title span{
    color: #614cff;
}
.lightmode .letter_board_wrap .list_area .list_box{
    border: solid 0.15vw #d7dade;
    background-color: #ffffff;
}
.lightmode .letter_board_wrap .list_area .list_box:hover{
    border: solid 0.15vw #9f83fa;
    background-color: #fbfaff;
}
.lightmode .letter_board_wrap .list_area .list_box.active{
    border: solid 0.15vw #7e4cff;
    background-image: linear-gradient(278deg, #e5e1fc, #f4f2ff 96.4%);
}
.lightmode .letter_board_wrap .board_name{
    color: #4e4875;
}
.lightmode .letter_board_wrap .letter_state{
    border: solid 0.078vw #7e4cff;
    background-color: rgba(118, 67, 247,0.1);
    color: #7643f7;
}
.lightmode .letter_board_wrap .board_title{
    color: #867fa8;
}
.lightmode .letter_board_wrap .board_title.loc_icon::before{
    background: url("../../../../static/image/dark/page/gis/facility/icon/icon_location.png") no-repeat;
    background-size: 100%;
}
.lightmode .letter_board_wrap .board_title.state_icon::before{
    background: url("../../../../static/image/light/page/broadcast/icon/icon_checking.png") no-repeat;
    background-size: 100%;
}
.lightmode .letter_board_wrap .board_txt{
    color: #57489c;
}
.lightmode .letter_board_wrap .realtime_area .realtime_title{
    color: #484752;
}